:root {
    --naranjaRoja:#B20600;
    --gray:#D2D3C9;
    --totalDark: #000000;
    --lightDark:#000000de;
    --totalWhite:#fff;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rancho";
}

.contenedor {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 2.8fr ;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "header header header"
    "aside section section"
    "footer footer footer";
}

header {
    grid-area: header;
    display: flex;
    width: 100%;
    height: 10vh;
}

.boxTitle {
    flex-wrap: wrap;
    width: 230px;
    min-width: 230px;
    height: 100%;
    text-align: center;
    padding-top: 10px; 
    background: var(--naranjaRoja);
}

.linkTitle {
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--totalDark);
}

.linkTitle:hover {
    font-size: 2.4rem;
    text-decoration: underline;
}

nav {
    flex-wrap: wrap;
    padding-top: 10px;
    width: 85vw;
    height: 10vh;
    background: var(--lightDark);
}

ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

li {
    align-self: center;
    height: 100%;
}

.linkNav {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    text-decoration: none;
    list-style-type: none;
    color: var(--totalWhite);
}

.linkNav:hover {
    padding: 10px;
    color: var(--naranjaRoja);
    border: 2px solid var(--totalWhite);
    border-radius: 30px;
    box-shadow: -5px 5px 5px;
}

aside {
    grid-area: aside;
    width: 230px;
    min-width: 230px;
    border-top: 2px solid var(--totalWhite);
    background: var(--lightDark);
    box-shadow: -10px 10px 10px;
    overflow: auto;
}

.boxSubtitleAside {
    text-align: center;
    margin: 10px auto;
    width: 100px;
    height: 50px;
    border: 2px solid var(--totalWhite);
    border-radius: 10px;
    background: var(--naranjaRoja);
    
}

.subtitleAside {
    font-size: 1.9rem;
}

.cardAside {
    margin: 10px auto;
    width: 150px;
    height: 100px;
    border: 2px solid var(--naranjaRoja);
    border-radius: 10px;
}

.imgAside {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

section {
    grid-area: section;
    background: var(--totalWhite);
    flex: end;
    min-width: 375px;
}


.boxTitleSection {
    margin: 10px auto;
    text-align: center;
    padding-top: 5px;
    width: 300px;
    height: 50px;
    border: 2px solid var(--totalWhite);
    border-radius: 10px;
    background: var(--naranjaRoja);
    box-shadow: -5px 5px 5px;
}

.subTitleSection {
    font-size: 1.7rem;
}

.boxLogo {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    padding-top: 5px;
    width: 78vw;
    height: 18vh;
    border-radius: 10px;
    border: 2px solid var(--totalDark);
    background: var(--lightDark);
    box-shadow: -10px 10px 10px;
}

.cardLogo {
    text-align: center;
    margin-top: 10px;
    width: 60px;
    height: 60px;
}

.imgLogo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.linkLogo {
    font-size: 1.1rem;
    color: var(--totalWhite);
    text-decoration: none;
}

.linkLogo:hover {
    color: var(--naranjaRoja);
}

.contentItems {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.cardItem {
    text-align: center;
    margin: 20px auto;
    width: 270px;
    border-radius: 10px;
    background: var(--lightDark);
    box-shadow: -10px 10px 10px;
}

.subtitleitems {
    font-size: 1.8rem;
    margin: 5px auto;
    color: var(--totalWhite);
}

.cardItemImg {
    width: 100%;
    height: 40%;
    margin-bottom: 10px;
}

.textCard { 
    margin: 10px auto;
    padding: 10px;
    font-size: 1.7rem;
    line-height: 2rem;
    margin: 5px;
    color: var(--totalWhite);
    border: 2px solid var(--totalWhite);
    border-radius: 10px;
}

footer {
    grid-area: footer;
    display: flex;
    width: 100%;
    height: 70px;
    background: var(--lightDark);
}

.boxFooter {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 300px;
}

.linkFooter {
    font-size: 1.7rem;
    color: var(--totalWhite);
    text-decoration: none;
}

.logoFooter {
    margin-top: 10px;
    width: 30px;
    height: 50%;
    border-radius: 50%;
}

.headerHistory {
    width: 100vw;
    height: 70px;
    background: var(--lightDark);
}

.boxSubTitleHistory {
    text-align: center;
    margin: 20px auto;
    width: 400px;
    height: 70;
    border: 2px solid var(--totalWhite);
    border-radius: 10px;
    background: var(--naranjaRoja);
    box-shadow: -10px 10px 10px;
}

.subtitleHistory {
    padding: 8px;
    font-size: 1.8rem;
    color: var(--totalWhite);
}

.contentItemHistory {
    display: flex;
    margin: 40px auto;
    padding: 10px;
    width: 80vw;
    height: 320px;
    border-radius: 10px;
    background: var(--lightDark);
    box-shadow: -10px 10px 10px;
    overflow: auto;
}

.itemImgHistory {
    margin: 0 auto;
    width: 40%;
    height: 100%;
    border: #fff solid 2px;
}

.imgHistory {
    margin: 0 auto;
    width: 100%;
    height: 100%; 
}

.itemTextHistory {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    width: 60%;
    height: 100%;
}

.nameMarca {
    text-align: center;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    font-size: 1.8rem;
    border-radius: 10px;
    border: 2px solid var(--totalWhite);
    color: var(--totalWhite);
    background: var(--totalDark);
}

.textHistory {
    margin: 5px;
    font-size: 1.5rem;
    color: var(--totalWhite);
}

.contentItemsGallery {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    border-radius: 10px;
}

.boxImgGallery {
    width: 100%;
    height: 240px;
}

.itemsImg {
    margin: 20px auto;
    width: 350px;
    height: 300px;
    border: 2px solid var(--totalDark);
    background: var(--lightDark);
}

.itemsImg:hover {
    transform: scale(1.2);
    margin: 20px;
    transition: 0.5s;
}

.imgGallery {
    width: 100%;
    height: 100%;
}

.nameGallery {
    text-align: center;
    margin: 5px;
    font-size: 1.5rem;
    border: 2px solid var(--totalWhite);
    border-radius: 20px;
    color: var(--totalWhite);
}

.contentVideo {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.contentForms {
    text-align: center;
    margin: 50px auto;
    width: 40vw;
    border: 2px solid var(--totalDark);
    border-radius: 10px;
    background: var(--lightDark);
    box-shadow: -10px 10px 10px;
    overflow: hidden;
}

.mb-3 {
    margin: 40px auto;
    width: 80%;
    font-weight: bold;
    border: 2px solid var(--totalWhite);
    border-radius: 10px;
    box-shadow: -10px 10px 10px;
}

label {
    font-size: 1.5rem;
    color: var(--totalWhite);
}

.button {
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid var(--totalWhite);
    background: var(--naranjaRoja);
    box-shadow: -10px 10px 10px;
}

.button:active {
    transform: scale(0.9);
}

.registro {
    margin: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--totalWhite);
}

/* MEDIA QUERIES */

@media screen and (max-width:1000px) {
    .boxLogo {
        width: 60vw;
    }

    .contentItemHistory {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80vw;
        height: 400px;
        margin: 20 auto;
        overflow: auto;
    }

    .itemTextHistory  {
        padding: 0;
    }

    .itemImgHistory {
        width: 100%;
    }

    .itemTextHistory {
        width: 100%;
    }

    .itemsImg {
        margin: 0 auto;
    }

    iframe {
        width: 300px;
        height: 200px;
    }

}

@media screen and (max-width:650px) {
    header {
        display: block;
        height: 20vh;
    }

    .boxTitle {
        width: 100%;
        height: 50%;
    }

    section {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    aside {
        display: none;
    }

    .button {
        width: 100px;
    }

}

@media screen and (max-width:500px) {
    
    .boxLogo {
        flex-wrap: wrap;
        height: 36vh;
    }

    .boxTitleSection {
        margin: 10px auto;
    }

    .itemsImg {
        margin: 0 auto;
    }

    .boxSubTitleHistory {
        width: 300px;
    }

 
}


